* {
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 200px;
}

.box {
    border: 5px solid darkblue;
}

.wrapper {
    display: flex;
    align-items: flex-start;
}

.wrapper > * {
    margin: 20px;
}

.box {
    width: 200px;
    height: 200px;
}

img {
    height: 100%;
    width: 100%;
}

.cover {
    object-fit: cover;
}

.contain {
    object-fit: contain;
}
