* {
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 100px;
    padding: 0.5em;
    border: 1px solid #ccc;
    margin: 20px;
}

.a {
    background-image: url(balloons.jpg);
}

.b {
    background-image: url(star.png);
    background-color: blue;
}
