.container {
    border-top: 5px dotted green;
    border-right: 1px solid black;
    border-bottom: 20px double rgb(23,45,145);
}

.container {
    margin: 40px;
    padding: 20px;
}

.box {
    border: 1px solid #333333;
    border-top-style: dotted;
    border-right-width: 20px;
    border-bottom-color: hotpink;
}
.box {
    padding: 20px;
    background-color: lightgray;
}
