body {
    width: 500px;
    margin: 0 auto;
}

p {
    background: aqua;
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
}

span {
    background: red;
    border: 1px solid black;
}
