.comment {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.comment img {
    border: 1px solid grey;
}

.comment .content {
    font-size: 0.8rem;
}

.list-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 1px solid grey;
}

.list-item .content {
    font-size: 0.8rem;
}
