* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
}

.box {
    border: 1px solid #ccc;
    padding: 0.5em;
    margin: 10px;
}

.box {
    width: 150px;
}

.horizontal {
    writing-mode: horizontal-tb;
}

.vertical {
    writing-mode: vertical-rl;
}
