* {
    margin: 0;
    box-sizing: border-box;
}

.box {
    width: 500px;
    height: 300px;
    padding: 0.5em;
    margin: 10px;
}

.box1 {
    border: 1px solid black;
}

.box2 {
    border-top: 1px solid black;
}

.box3 {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.box4 {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
}
