.box {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 4em;
}

.box {
    border: 5px solid rebeccapurple;
    background-color: lightgray;
}

.container {
    padding: 20px;
}

.container {
    border: 5px solid blue;
    margin: 40px;
}
