* {
    box-sizing: border-box;
}

.box {
    width: 400px;
    padding: 1em;
    border-radius: 0.5em;
    border: 5px solid rebeccapurple;
    background-color: lightblue;
}

.box {
    width:400px;
    padding: 1em;
    border-radius: .5em;
    border: 5px solid rebeccapurple;
    background-color: lightblue;
}

.box::after {
    content: "This is a string. I know because it is quoted in the CSS."
}
