* {
    box-sizing: border-box;
}

.box {
    width: 500px;
    height: 300px;
    padding: 0.5em;
    border: 1px solid #ccc;
    margin: 20px;
}

.box {
    background-image: url(balloons.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* 100% 10em, contain */
}
