* {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.box {
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
    padding: 10px;
    border-radius: 5px;
}
