* {
    box-sizing: border-box;
}

body {
    width: 500px;
    margin: 0 auto;
}


.positioned {
    background: rgba(255, 84, 104, 0.3);
    border: 2px solid rgb(255, 84, 104);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.positioned {
    position: fixed;
    top: 30px;
    left: 30px;
}
