* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background: #ccc;
}

article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
}

address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
}

h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

h1 {
    background: url(logo.png);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.7);
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.7));
    border-radius: 50%;
}

article {
    background: url(top-image.png) no-repeat, url(bottom-image.png) no-repeat 0 100%, linear-gradient(to bottom, rgba(255, 230, 230, .9), #fff 20%, #fff 80%, rgba(255, 230, 230, .1));
    border-top: 1mm solid #e60000;
    border-bottom: 1mm solid #e60000;
}

