@layer firstLayer, secondLayer;

p { /* 0-0-1 */
    background-color: red;
    color: grey !important;
    border: 5px inset purple;
}

p#addSpecificity { /* 1-0-1 */
    border-style: solid !important;
}

@layer firstLayer {
    #addSpecificity { /* 1-0-0 */
        background-color: blue;
        color: white !important;
        border-width: 5px;
        border-style: dashed !important;
    }
}

@layer secondLayer {
    p#addSpecificity { /* 1-0-1 */
        background-color: green;
        color: orange !important;
        border-width: 10px;
        border-style: dotted !important;
    }
}
