* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
}

.wrapper > div {
    flex: 1;
}

.wrapper > div {
    border-radius: 5px;
    background-color: rgb(207, 232, 220);
    padding: 1em;
}
