body {
    width: 300px;
    margin: 0 auto;
    font-family: sans-serif;
}

p {
    line-height: 1.4;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:focus,
a:hover {
    border-bottom: 1px solid;
}

a:active {
    color: red;
}

a[href^="http"] {
    background: url("external-link-52.png") no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
}
