@layer page {
    h1 {
        text-decoration: overline;
        color: red;
    }
}

@layer site {
    h1 {
        text-decoration: underline;
        color: green;
    }
}

/* this does nothing */
@layer page, site;
