body,
html {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    gap: 0.625%;
}

a {
    flex: 1;
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 3;
    color: black;
}

a:link,
a:visited,
a:focus {
    background: palegoldenrod;
    color: black;
}

a:hover {
    background: orange;
}

a:active {
    background: darkred;
    color: white;
}
