* {
    box-sizing: border-box;
}

.wrapper > * {
    margin: 20px;
}

.wrapper {
    display: flex;
    align-items: flex-start;
}

.box {
    border: 5px solid darkblue;
}

.box {
    width: 200px;
}

img {
    max-width: 100%;
}
