@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* header and footer */

header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* Fonts */

body {
    font-family: 'Roboto Slab', serif;
}

h1,
h2
{
    font-family: 'Open Sans', sans-serif;
}

/* General text styling */

body {
    font-size: 10px;
    line-height: 1.5;
    word-spacing: 2px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 4px;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

section h2 + p {
    text-indent: 20px;
}

/* Links */
a {
    outline: none;
}

a:link {
    color: #a66;
}

a:visited {
    color: #aa8a66;
}

a:focus {
    text-outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #aa8a66;
}

a:active {
    background: #a66;
    color: white;
}

a[href^="http"] {
    background: url("external-link-52.png") no-repeat 100% 0;
    background-size: 10px 10px;
    padding-right: 12px;
}

/* Lists */
ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-alpha;
}

/* Navigation menu */

nav a {
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 3;
}

nav ul {
    list-style-type: none;
}

nav li {
    font-size: 0.8rem;
    border: 1px solid #a66;
    margin-bottom: 2rem;
    text-align: center;
}
